.header{
    float: left;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}

main{
    float: left;
    width: 100%;
    background-color: black;
    height: 500px;

}

.banner{
    width: 100%;
}

.ISD{
    position: relative;
    top: 40px;
    left: 20px;
}

.lsw{
    color: aliceblue;
    float: right;
    text-align: left;
    padding-right: 15em;
}

.description{
    color: aliceblue;
    clear: both;
    position: relative;
    left: 15em;
    bottom: 23em;
    text-align: left;
    padding-right: 15em;
    line-height: 135%;
    padding-left: 23em;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.type{
    color: red;
}

footer{
    position: fixed;
    bottom: 15px;
    right: 15px;
}